{{ define "header-project" }}
<h1>{{ .Name }}</h1>
{{ end }}

<div id="container">
  <ul>
  {{range .Builds}}
      <li><a href="{{ .BuildUrl }}">{{.Date}}</a></li>
  {{end}}
  </ul>
</div>

{{ define "footer-project" }}
<p>The End</p>
{{ end }}
